.backToTopBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 40px;
    width: 40px;
    border: .1px solid rgb(49, 48, 48);
    background-color: rgba(28, 27, 27, 0.863);
    border-radius: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backToTopBtn:hover {
    cursor: pointer;
}

.backToTopIcon {
    color: rgb(46, 45, 45)
}
